.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.navigation-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
}

.navigation-list__item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__item-link:hover, .navigation-list__item-link:focus {
  color: #2196f3;
}

.navigation-list__item-active-page {
  position: relative;
  display: inline-block;
  color: #2196f3;
}

.navigation-list__item-active-page::after {
  content: "";
  left: 0;
  bottom: -34px;
  display: flex;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}

.contacts-list__item-icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item-link:hover .contacts-list__item-icon,
.contacts-list__item-link:focus .contacts-list__item-icon {
  fill: #2196f3;
}

.contacts-list__item-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item-link:hover, .contacts-list__item-link:focus {
  color: #2196f3;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo-link__theme {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  letter-spacing: 0.06em;
  color: white;
  background: #2196f3;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: #afb1b8;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sample-list-item-link:hover .overlay,
.sample-list-item-link:focus .overlay {
  transform: translateY(0%);
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-container {
  display: flex;
  justify-content: center;
}

.benefits-list {
  display: flex;
}

.benefits-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__item {
  flex-basis: calc((100%-120px) / 4);
  width: 270px;
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.services {
  padding-top: 0px;
}

.services-list {
  display: flex;
  margin-top: 50px;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.services-list__item {
  position: relative;
}

.services-list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

.team-list__item {
  width: 270px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.company__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.company-list {
  display: flex;
  justify-content: center;
}

.company-list__item:not(:last-child) {
  margin-right: 30px;
}

.company-list__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: white;
  border-style: solid;
  border-color: #afb1b8;
  border-width: 1px;
  border-radius: 4px;
  transition-property: color, background-color, fill, border-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__item-link:hover, .company-list__item-link:focus {
  border-color: #2196f3;
  border-radius: 4px;
}

.company-list__icon {
  fill: #afb1b8;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__item-link:hover .company-list__icon,
.company-list__item-link:focus .company-list__icon {
  fill: #2196f3;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.main-footer-container {
  flex-grow: 1;
}

.logo-footer-link {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 20px;
}

.address-list__link-first {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
}

.address-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.social-footer-container {
  margin-left: 70px;
}

.social-list-footer {
  display: flex;
  align-items: center;
}

.social-footer-container__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.social-list-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer__link:hover, .social-list-footer__link:focus {
  background-color: #2196f3;
}

.social-list-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-list-footer__icon {
  fill: white;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer__link:hover .social-list-footer__icon,
.social-list-footer__link:focus .social-list-footer__icon {
  fill: white;
}

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription__label {
  display: block;
  width: 100%;
  height: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.footer-subscription__wrapper {
  display: flex;
}

.footer-subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.footer-subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription__btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
  cursor: pointer;
  border: transparent;
  margin-left: 12px;
}

.footer-subscription__icon {
  padding: 0;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-icon {
  padding: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #2196f3;
}

.modal-description {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form-field {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.contact-form-textarea {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover, .contact-form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover + .contact-form-icon,
.contact-form-input:focus + .contact-form-icon {
  fill: #2196f3;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:hover, .contact-form-message:focus {
  border-color: #2196f3;
  outline: none;
}

.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-checkbox-description::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked + .contact-form-checkbox-description::before {
  background-image: url("../images/ok.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2196f3;
  border: transparent;
  border-radius: 2px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-description::before {
  border-color: #2196f3;
}

.user-agreement-box {
  margin-bottom: 30px;
}

.contact-btn-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  background: #188ce8;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox-link {
  outline: none;
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.route-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.route-list-item:not(:last-child) {
  margin-right: 8px;
}

.route-list-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-color: transparent;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.route-list-btn:hover, .route-list-btn:focus {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  background: #2196f3;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.sample-list-item {
  margin-left: 30px;
  margin-top: 30px;
}

.sample-list-item-link {
  display: block;
  transition-property: color, background-color, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sample-list-item-link:hover, .sample-list-item-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.wrapper {
  border-bottom: 1px solid #eeeeee;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.sample-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 5px;
}

.sample-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.sample-list-wrapper {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */