h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.main-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-container {
  display: flex;
}
.navigation-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
}
.contacts-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: rgba(33, 150, 243, 1);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: rgba(33, 33, 33, 1);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  /* margin-left: 215px; */
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(33, 33, 33, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active-page {
  position: relative;
  display: inline-block;
  color: rgba(33, 150, 243, 1);
}
.active-page::after {
  content: "";
  left: 0;
  bottom: -34px;
  display: flex;
  /* margin-top: 28px; */
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;
}
.contacts-list-icon{
  margin-right: 10px;
  fill:rgba(117, 117, 117, 1);
  transition-property: color,background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition-property: color,background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: rgba(33, 150, 243, 1);
}
.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: rgba(33, 150, 243, 1);
}
.contacts-list-link:hover .contacts-list-icon,
.contacts-list-link:focus .contacts-list-icon{
  fill: rgba(33, 150, 243, 1);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.modal-button {
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  cursor: pointer;
  transition-property: color,background,border-shadow;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits-container {
  display: flex;
  justify-content: center;
}
.benefits-list {
  display: flex;
}
.benefits-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}
.benefits-list-icon{
  width: 70px;
  height: 70px;
}
.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-list-item {
  flex-basis: calc((100%-120px) / 4);
  width: 270px;
}
.benefits-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(33, 33, 33, 1);
}
.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
.services {
  padding-top: 0px;
}
.services-list {
  display: flex;
  margin-top: 50px;
}
.services-list-item:not(:last-child) {
  margin-right: 30px;
}
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}
.services-list-item{
  position: relative;
}
.services-list-description{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background:rgba(47, 48, 58, 0.8);
}
.team {
  background: rgba(245, 244, 250, 1);
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  width: 270px;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
}
.team-list {
  display: flex;
  justify-content: center;
 
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 10px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 1)
}
.social-list {
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 16px;
}
.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transition-property: color,background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
  fill: rgba(255, 255, 255, 1);
}
.social-list-link:hover,
.social-list-link:focus{
background-color: rgba(33, 150, 243, 1)
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-icon {
  fill: rgba(175, 177, 184, 1);
  transition-property: color,background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.company-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 50px;
  }
  .company-list{
    display: flex;
    justify-content: center;
  }
  .company-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .company-list-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgba(175, 177, 184, 1);
    border-width: 1px;
    transition-property: color,background-color,fill,border-color,border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .company-list-icon{
    fill:rgba(175, 177, 184, 1) ;
    transition-property: color,background-color,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .company-list-item-link:hover .company-list-icon,
  .company-list-item-link:focus .company-list-icon {
    fill: rgba(33, 150, 243, 1);
  }
  .company-list-item-link:hover,
  .company-list-item-link:focus{
    border-color:rgba(33, 150, 243, 1);
    border-radius: 4px;
  }
.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgba(47, 48, 58, 1);
}
.main-footer-container{
  width: auto;
}
.logo-footer-link {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}
.address-list-link-first {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}
.address-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-container{
  display:flex;
  align-items: baseline;
}
.social-footer-container{
  margin-left: 70px;
}
.social-list-footer {
  display: flex;
  align-items: center;
}
.social-footer-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
margin-bottom: 20px;
}
.social-list-footer-link {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color,background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-link:hover .social-list-footer-icon,
.social-list-footer-link:focus .social-list-footer-icon {
  fill: rgba(255, 255, 255, 1);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
  background-color: rgba(33, 150, 243, 1)
}

.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-list-footer-icon {
  fill: rgb(255, 255, 255);
  transition-property: color,background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  height: 581px;
  background:rgb(255, 255, 255) ;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close-icon{
  padding: 0;
}
.route-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.sample-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.route-list-item:not(:last-child) {
  margin-right: 8px;
}
.route-list-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  border-color: transparent;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition-property: color,background-color,box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.route-list-btn:hover,
.route-list-btn:focus {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.sample-list-item {
  margin-left: 30px;
  margin-top: 30px;
}
.sample-list-item-link{
  display: block;
  transition-property: color,background-color,fill,box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sample-list-item-link:hover,
.sample-list-item-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}
.wrapper {
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}

.sample-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 5px;
}
.sample-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
.sample-list-wrapper{
  position: relative;
  overflow: hidden;
}
.overlay{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.sample-list-item-link:hover .overlay,
.sample-list-item-link:focus .overlay{
  transform: translateY(0%);
}