body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: rgba(33, 150, 243, 1);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: rgba(33, 33, 33, 1);
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: rgba(33, 33, 33, 1);
}
.contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: rgba(117, 117, 117, 1);
}
.nav-list-link:hover,
:focus {
  color: rgba(33, 150, 243, 1);
}
.contacts-list-link:hover,
:focus {
  color: rgba(33, 150, 243, 1);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
}
.benefits-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(33, 33, 33, 1);
}
.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
.address-list-link-first {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}
.address-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.route-list-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}
.route-list-btn:hover,
focus {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
}
.sample-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: rgba(33, 33, 33, 1);
}
.sample-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
.logo-footer-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}
.main-footer {
  background: rgba(47, 48, 58, 1);
}
.hero {
  background: rgba(47, 48, 58, 1);
}
