
.benefits-list__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 30px;
}
.benefits-list__title{
    margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(33, 33, 33, 1);
        text-align: center;
}
.benefits-list__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: rgba(245, 244, 250, 1);
        margin-bottom: 30px;
    }

@media screen and(min-width:768px) {
.benefits-list__title {
    text-align:left;}

.benefits-list{
    display: flex;
    flex-wrap: wrap;
}
.benefits-list__item {
    width: 354px;
    &:not(:nth-child(2n)){
        margin-right: 30px;
    }
}
.benefits-list__wrapper{
    width: 354px;}
}

@media screen and(min-width:1200px) {
    .benefits-list__wrapper {
     width: 270px;
    }
    .benefits-list__description {
    margin-bottom: 0;
    }
    .benefits-list__item {
        flex-basis: calc((100%-120px) / 4);
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;}
    }
    .benefits-list {
        flex-wrap:nowrap;
    }
}