
.company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company-list__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgba(175, 177, 184, 1);
        border-width: 1px;
        border-radius: 4px;
        transition-property: color, background-color, fill, border-color, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border-color: rgba(33, 150, 243, 1);
        }
    }
.company-list__icon {
    fill: rgba(175, 177, 184, 1);
    transition-property: color, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .company-list__link:hover &,
    .company-list__link:focus & {
        fill: rgba(33, 150, 243, 1);
    }
}

@media screen and(max-width:767px) {
    .company-list__item:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    .company-list__item:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px;
    }
}

@media screen and(min-width:768px) and(max-width:1199px) {
    .company-list__item {
        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 30px;
        }
    }
    .company-list__link {
        width: 226px;
    }
}

@media screen and(min-width:1200px){
.company-list {
    flex-wrap: nowrap;
}
.company-list__link {
    width: 170px;
}
.company-list__item:not(:last-child) {
        margin-right: 30px;}
}