
.company-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    justify-content: center;
}

.company-list__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 30px;
        margin-left: 30px;
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgba(175, 177, 184, 1);
        border-width: 1px;
        border-radius: 4px;
        transition-property: color, background-color, fill, border-color, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border-color: rgba(33, 150, 243, 1);
        }
    }
.company-list__icon {
    fill: rgba(175, 177, 184, 1);
    transition-property: color, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .company-list__link:hover &,
    .company-list__link:focus & {
        fill: rgba(33, 150, 243, 1);
    }
}

@media screen and(min-width:768px){
    .company-list__link {
        width: 226px;
    }
}

@media screen and(min-width:1200px){
.company-list {
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0;
}
.company-list__link {
    width: 170px;
    margin-top: 0;
    margin-left: 0;
}
.company-list__item:not(:last-child) {
        margin-right: 30px;}
}