.section--no-padding-top {
    padding-top: 0px;
}

.services-list {
    display: flex;
}

.services-list__item:not(:last-child) {
    margin-right: 30px;
}

.services-list__item {
    position: relative;
}

.services-list__description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}