.navigation-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
}
.navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33, 1);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: rgba(33, 150, 243, 1);
    }
}

.navigation-list__link--active {
    position: relative;
    display: inline-block;
    color: rgba(33, 150, 243, 1);
    &::after {
        content: "";
        left: 0;
        bottom: -34px;
        display: flex;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgba(33, 150, 243, 1);
        border-radius: 2px;
    }
}

.navigation-list__item:not(:last-child) {
    margin-right: 50px;
}

